.banner{
    height:600px;
    width:100%;
    background-color:grey;
    background-image:url(https://cdn.pixabay.com/photo/2019/01/03/22/40/popcorn-3912111_960_720.jpg);
    color: white;
    background:cover url;
}
.overlay{
    height:600px;
    width: 100%;
    background-color:rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
}
.banner-text{
    height: 250px;
    width:40%;
    background-color:rgba(11, 62, 110, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;

    
}
.padd{
    padding:20px;
}

.banner-title{
 font-size: 40px;
 color:white;
 margin-bottom:15px;
}

.banner-para{
    margin-bottom:15px;

}
.banner-button{
    padding:15px 60px 15px 60px;
    text-transform: uppercase;
    background-color:transparent;
    color: white;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:3px solid white;
    transition: .5s;
}

.banner-button:hover{
    background-color:white;
    color:rgba(16,128,234,0.5);
}